### [2008-12-10](/news/2008/12/10/index.md)

#  Talks on North Korea's nuclear program stall in a dispute over verification. 




### Source:

1. [BBC](http://news.bbc.co.uk/1/hi/world/asia-pacific/7774663.stm)

### Related:

1. [ North Korea will depart the six-party talks and resume its nuclear program. ](/news/2009/04/14/north-korea-will-depart-the-six-party-talks-and-resume-its-nuclear-program.md) _Context: nuclear program_
2. [ Chinese fishing vessels desert the Northern Limit Line, signaling a possible North Korean missile test. ](/news/2009/02/11/chinese-fishing-vessels-desert-the-northern-limit-line-signaling-a-possible-north-korean-missile-test.md) _Context: nuclear program_
3. [ North Korea hands over thousands of pages about its nuclear program to a visiting diplomat from the United States that will help verify its plutonium holdings. ](/news/2008/05/8/north-korea-hands-over-thousands-of-pages-about-its-nuclear-program-to-a-visiting-diplomat-from-the-united-states-that-will-help-verify-its.md) _Context: nuclear program_
4. [ South Korea agrees to resume high level talks with North Korea following the deal over North Korea's nuclear program. ](/news/2007/02/15/south-korea-agrees-to-resume-high-level-talks-with-north-korea-following-the-deal-over-north-korea-s-nuclear-program.md) _Context: nuclear program_
