### [2007-02-13](/news/2007/02/13/index.md)

#  The TGV beats the record of the world's fastest conventional train with a speed of 553 &nbsp;km/h (344&nbsp;mph) reached during a test run on the LGV Est. 




### Source:

1. [Le Vif / L'Express](http://www.levif.be/Belga/BelgaNieuws.asp?ArticleID=78216&SectionID=10)

### Related:

1. [ The V150, a modified TGV train, breaks the land speed record for railed vehicles on the new Paris-Strasbourg LGV Est line with 574.8 km/h (357.2 mph). ](/news/2007/04/3/the-v150-a-modified-tgv-train-breaks-the-land-speed-record-for-railed-vehicles-on-the-new-paris-strasbourg-lgv-est-line-with-574-8-km-h.md) _Context: LGV Est, TGV train, land speed record for railed vehicles_
2. [Eckwersheim derailment: Ten people are dead and eleven injured after a high-speed TGV train catches fire and derails near the northeastern French city of Strasbourg. ](/news/2015/11/14/eckwersheim-derailment-ten-people-are-dead-and-eleven-injured-after-a-high-speed-tgv-train-catches-fire-and-derails-near-the-northeastern-f.md) _Context: TGV train_
3. [A high-speed TGV train on the Pau-Bayonne line crashes with a TER regional service near the town of Denguin, Pyrenees-Atlantiques resulting in 25 injuries including nine serious injuries. ](/news/2014/07/18/a-high-speed-tgv-train-on-the-pau-bayonne-line-crashes-with-a-ter-regional-service-near-the-town-of-denguin-pyra-c-na-c-es-atlantiques-resultin.md) _Context: TGV train_
4. [A French regional train on the Pau-Bayonne line crashes into a high-speed train near the town of Denguin, resulting in at least 25 injuries. ](/news/2014/07/17/a-french-regional-train-on-the-pau-bayonne-line-crashes-into-a-high-speed-train-near-the-town-of-denguin-resulting-in-at-least-25-injuries.md) _Context: TGV train_
5. [ France's SNCF inaugurates the LGV Est route between Paris and Strasbourg. ](/news/2007/03/15/france-s-sncf-inaugurates-the-lgv-est-route-between-paris-and-strasbourg.md) _Context: LGV Est_
